.DS_Store
.drone.yml
coverage
dist
docs
docs-swagger/node_modules
swagger.config.js
jsdoc/
*.zip
core-*
node_modules/
tests/config/config.json
tests/pacts
tests/log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

/.pnpm-store/

.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
